<div class="canvas-dialog-container">
    <!-- Fixed Header -->
    <div class="canvas-header">
      <div class="version-name">{{ data.name }}</div>
      <div class="canvas-controls">
        <button mat-icon-button (click)="zoomIn()">
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button (click)="zoomOut()">
          <mat-icon>zoom_out</mat-icon>
        </button>
        <span class="zoom-percentage">{{ scale | percent }}</span>
        <button mat-icon-button (click)="saveCanvas()">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  
    <!-- Scrollable Content -->
    <div class="canvas-content">
      <div #canvasBoundary
           class="canvas-container"
           [style.minWidth.px]="canvasMinWidth"
           [style.minHeight.px]="canvasMinHeight">
        <div class="canvas-area"
             [ngStyle]="{ transform: 'scale(' + scale + ')' }"
             [style.minWidth.px]="canvasMinWidth"
             [style.minHeight.px]="canvasMinHeight"
             style="transform-origin: top left; position: relative;">
             <ng-container *ngFor="let entry of nodes | keyvalue">
                <div
                  class="node-card"
                  [ngClass]="entry.value.nodeStyle || 'rectangle'"
                  cdkDrag
                  [cdkDragBoundary]="canvasBoundary"
                  [cdkDragFreeDragPosition]="entry.value.position"
                  (cdkDragStarted)="onDragStart($event, entry.key)"
                  (cdkDragMoved)="onNodeMoved($event, entry.key)"
                >
                  <div class="node-header">
                    <img
                      *ngIf="entry.value.icon"
                      [src]="entry.value.icon"
                      alt="icon"
                      class="node-icon"
                    />
                    <span class="node-title">{{ entry.value.type | titlecase}}</span>
                  </div>
                  <div class="node-divider"></div>
                  <div class="node-info">
                    <div class="info-row">
                      <span class="info-label">Name</span>
                      <span class="info-value">{{ entry.value.name }}</span>
                    </div>
                    <div class="info-row">
                      <span class="info-label">Description:</span>
                      <span class="info-value">{{ entry.value?.config?.metadata?.description }}</span>
                    </div>
                  </div>
                </div>
              </ng-container>
              
        </div>
      </div>
    </div>
  </div>
  