<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav mode="side" [opened]="true" [class.expanded]="sidenavExpanded" class="full-height-sidenav">    <!-- Hamburger button inside sidenav -->    <div class="sidenav-header" [class.expanded]="sidenavExpanded">
      <button mat-icon-button (click)="toggleSidenav()" class="hamburger-btn" 
              [matTooltip]="sidenavExpanded ? 'Collapse sidebar' : 'Expand sidebar'">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
    </div><mat-nav-list>
      <a mat-list-item routerLink="/categories" routerLinkActive="active" 
         [matTooltip]="sidenavExpanded ? '' : 'Rules'" 
         [matTooltipDisabled]="sidenavExpanded"
         matTooltipPosition="right"
         class="nav-item">
        <div class="nav-content" [class.expanded]="sidenavExpanded">
          <fa-icon [icon]="['fas', 'scroll']" class="nav-icon"></fa-icon>
          <span class="nav-text" [class.hidden]="!sidenavExpanded">Rules</span>
        </div>
      </a>
      <a mat-list-item routerLink="/nodes" routerLinkActive="active"
         [matTooltip]="sidenavExpanded ? '' : 'Nodes'" 
         [matTooltipDisabled]="sidenavExpanded"
         matTooltipPosition="right"
         class="nav-item">
        <div class="nav-content" [class.expanded]="sidenavExpanded">
          <fa-icon [icon]="['fas', 'cog']" class="nav-icon"></fa-icon>
          <span class="nav-text" [class.hidden]="!sidenavExpanded">Nodes</span>
        </div>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active"
         [matTooltip]="sidenavExpanded ? '' : 'Settings'" 
         [matTooltipDisabled]="sidenavExpanded"
         matTooltipPosition="right"
         class="nav-item">
        <div class="nav-content" [class.expanded]="sidenavExpanded">
          <fa-icon [icon]="['fas', 'cog']" class="nav-icon"></fa-icon>
          <span class="nav-text" [class.hidden]="!sidenavExpanded">Settings</span>
        </div>
      </a>
      <a mat-list-item routerLink="/datasource" routerLinkActive="active"
         [matTooltip]="sidenavExpanded ? '' : 'Datasource'" 
         [matTooltipDisabled]="sidenavExpanded"
         matTooltipPosition="right"
         class="nav-item">
        <div class="nav-content" [class.expanded]="sidenavExpanded">
          <fa-icon [icon]="['fas', 'database']" class="nav-icon"></fa-icon>
          <span class="nav-text" [class.hidden]="!sidenavExpanded">Datasource</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="main-content">
    <!-- Header/toolbar positioned in the content area -->    <mat-toolbar color="primary" class="app-header">
      <span>Zero Rules Manager</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="User profile">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
      </button>
    </mat-toolbar>
    
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>