<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <span>Zero Rules Manager</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <fa-icon [icon]="['fas', 'user']"></fa-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" [class.expanded]="sidenavExpanded">
    <mat-nav-list>
      <a mat-list-item routerLink="/categories" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'scroll']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Rules</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Settings</span>
      </a>
      <a mat-list-item routerLink="/datasource" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'database']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Datasource</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>