<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav mode="side" [opened]="true" [class.expanded]="sidenavExpanded" class="full-height-sidenav">
    <!-- Hamburger button inside sidenav -->
    <div class="sidenav-header">
      <button mat-icon-button (click)="toggleSidenav()" class="hamburger-btn">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
    </div>
    
    <mat-nav-list>
      <a mat-list-item routerLink="/categories" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'scroll']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Rules</span>
      </a>
      <a mat-list-item routerLink="/nodes" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Nodes</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Settings</span>
      </a>
      <a mat-list-item routerLink="/datasource" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'database']"></fa-icon>
        <span [class.hidden]="!sidenavExpanded">Datasource</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="main-content">
    <!-- Header/toolbar positioned in the content area -->
    <mat-toolbar color="primary" class="app-header">
      <span>Zero Rules Manager</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
      </button>
    </mat-toolbar>
    
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>