.nodes-container {
  padding: 20px;

  mat-card {
    max-width: 800px;
    margin: 0 auto;

    mat-card-header {
      margin-bottom: 20px;
    }

    mat-list-item {
      margin-bottom: 10px;

      h3 {
        font-weight: 500;
      }

      p {
        color: #666;
      }
    }
  }
}